.flex-container {
  padding: 0;
  margin: 0;
  
  height: 100%;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

.flex-container > header{ 
  flex: 1 100%; 
  /*display: inline-flex;*/
  width: 100%;
  position: fixed;
}

.sidebar__left { 
  flex-grow: 2;
  margin-top: 6em;
}

ul {
  list-style-type: none;
  /*/*list-style: inline-flex;*/
}

.main {
  flex-grow: 4;
  margin-top: 5em;
}

.flex-item {  
  background: tomato;
  padding: 10px;
   /*The width property here is important. Explain why */
  width: 100px;
  border: 3px solid rgba(0,0,0,.2);

  
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: arial;

}